@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: var(--grayish-blue);
    font-family: "Outfit", sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    height: 100svh;
    background: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.card {
    background: var(--White);
    height: 450px;
    width: 300px;
    border-radius: 15px;
    padding: 1rem;
}

.qr-code {
    width: calc(300px - 2rem);
    height: calc(300px - 2rem);
    border-radius: 10px;
    overflow: hidden;
}

.qr-code img {
    width: 100%;
    height: 100%;
}

.details {
    padding: 1rem;
}

.heading {
    color: var(--dark-blue);
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

@media (max-width: 350px) {
    .card {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .qr-code {
        width: 100%;
        height: auto;
    }

    .details {
        padding: 10px;
    }

    .heading {
        margin-bottom: 10px;
    }
}
